#thankyou-message {
	margin: 7em auto;
}

#contactus {
	margin-top: 1em;
}

#contactus legend, h2 {
	font-size: 1.3em;
	margin-bottom: 0.2em;
	font-weight:bold;
	color:#333;
}

#contactus #scaptcha {
  width:60px;
  height:20px;
}

#contactus input[type="submit"] {
	width:100px;
	margin: 1em 0;
}

#contactus .error {
	color: red;
}

/* spam_trap: This input is hidden. This is here to trick the spam bots */
#contactus .spmhidip {
	display:none;
	width:10px;
	height:3px;
}

#fg_crdiv {
	font-family : Arial, sans-serif;
	font-size: 0.3em;
	opacity: .2;
	-moz-opacity: .2;
	filter: alpha(opacity=20);   
}
#fg_crdiv p {
	display:none;
}
